<!-- Navigation Component -->
<nav>
    <div class="nav-container">
        <!--<a href="index.html" class="logo">NeredeYesem?</a>-->
        <a href="index.html" class="logo">
            <img src="src/assets/tab-icon.png" alt="Logo" id="nav-logo" class="logo-icon">
            NeredeYesem?
            <span class="logo-subtitle">İyi restoran rehberin</span>
        </a>
        <div class="nav-links">
            <a href="index.html">Ana Sayfa</a>
            <a href="faq.html">Sıkça Sorulan Sorular</a>
            <!--<a href="contact.html">Contact</a>-->
        </div>
    </div>
</nav> 