#map {
    height: calc(100vh - 60px);
    width: 100%;
    margin-top: 60px;
}

@media (max-width: 768px) {
    #map {
        height: calc(100vh - 100px);
        margin-top: 100px;
    }
}

.leaflet-control-layers label,
.leaflet-control-layers .leaflet-control-layers-label,
.leaflet-control-layers label span {
    font-size: 1.1em;
    font-weight: bold;
}

.leaflet-top .leaflet-control {
    top: 1em !important;
    right: 0.5em !important;
}